*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.music-player{
    background-color: #ffe0e5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;

}
.image {
   
    width: 300px; 
    height: 350px;
    margin-left: 14.5px;
    margin-top: 27px;
    margin-bottom: 50px;
    
}
.picture{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


nav{
    display: flex;
    justify-content: center;
    
}
.circle{
    display: flex;
    gap: 30px;
    
}

.button {
    cursor: pointer;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    opacity: 70%;
    background-color: white;
    color: deeppink;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 1px 3px rgba(0, 0, 0, 0.1);
}

.button:hover{
    opacity: 100%;
}

.progress-bar-container{
    margin-top: 20px;

    background-color: #fff;

    height: 10px;
    border-radius: 5px;

    overflow: hidden;
}

.progress-bar{
    width: 0;
    height: 100%;
    background-color: deeppink;
    transition: width 0.05s ease-in-out;
}
